@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h3{
    font-size: 38px;
    line-height: 42px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
a{
    text-decoration: none;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

button.white:hover{
    color: #fff;
    background-color: #088178;
    border: 1px solid #088178;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-links li a{
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.nav-links li a:hover, .nav-links li a.active{
    color: #088178;
}

.nav-links li a.active::after,
.nav-links li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Hero Section */

.hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4{
    padding-bottom: 15px;
}
.hero h1{
    color:#088178;
}
.cta-btn{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 15px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 5px;
    transition: 0.2s;
}
.feature .fe-box:hover{
    
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

.feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: #088178;
    color: #fff;
    display: inline-block;
}

feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    padding-top: 20px;
}

.fe-products{
    text-align: center;
}

.fe-products .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.fe-products .product:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}

.fe-products .product img{
    width: 100%;
    border-radius: 20px;
}

.fe-products .product .des{
    text-align: start;
    padding: 10px 0;
}

.fe-products .product .des span{
    color: #606063;
    font-size: 12px;
}

.fe-products .product .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.fe-products .product .des i{
    color: gold;
    font-size: 12px;
}

.fe-products .product .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.fe-products .product .add-to-cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

/* cta banner */
.cta-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.cta-banner h4{
    color: #088178;
    font-size: 15px;
    font-weight: 700;
}

.cta-banner h2{
    color: #fff;
    padding-top: 7px;
}

.category-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(img/banner/b17.jpg);
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.category-banner .banner-box2{
    background-image: url(img/banner/b10.jpg);
}

.category-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.category-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.category-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* newsletter form */
.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-size: cover;
    background-position: 20% 30%;
    background-color: #041e42;
}

.newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.newsletter span{
    font-size: 22px;
    font-weight: 600;
    color: #ffbd27;
}

.newsletter input{
    height: 3.125rem;
    padding: 0 0.125rem;
    font-size: 14px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
}

.newsletter input[type="text"]::placeholder{
    padding: 0 10px;
}


.newsletter .news-form{
    width: 40%;
    display: flex;
}

.newsletter .news-form button{
    padding: 11px 15px;
}

/* footer */
footer{
    padding-bottom: 0 !important;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer .logo{
    margin-bottom: 30px;
}

.footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

.footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

.footer a{
    font-size: 13px;
    color: #222;
    margin-bottom: 8px;
}
.footer a:hover{
    color: #088178;
}


.footer .follow{
    margin-top: 20px;
}

.footer .follow i{
    color: #222;
    margin-left: 5px;
    font-size: 14px;
    transition: 0.2s ease;
    cursor: pointer;
}

.footer .follow i:hover{
    color: #088178;
}

div.copyright{
    text-align: center;
    margin: 0;
}
div.copyright p{
    font-size: 12px;
}